.overlayContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 10;
}

.overlayHidden {
  display: none;
}

.overlayVisible {
  display: flex;
}

.pauseOverlay {
  border-radius: 10px;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  background-color: var(--background-color);
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
